
* { margin: 0; padding: 0;}

h1{ text-align: center; }

#slide {
    margin: 100px auto;
    position: relative;
    width: 400px;
    height: 400px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

/* 슬라이드 */
.slide-list { position: absolute; left: 0; padding: 0; font-size: 0; }

.slide-item { 
    width: 400px;
    height: auto;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
}

.slide-item img { width: 100%; height: 100%; }

/* 버튼 */
.btn {
    border-radius: 50%; /* 원형 */
    color: white;
    padding: 10px 20;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    box-sizing: border-box;
}

a { text-decoration: none;}

.btn-box {
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.prev, .next {
    z-index: 3;
}

.prev {
    justify-self: flex-start;
    align-self: center;
    background: url(../img/prev.png) no-repeat left top;
    background-size: 100% 100%;
}

.next {
    justify-self: flex-end;
    align-self: center;
    background: url(../img/next.png) no-repeat left top;
    background-size: 100% 100%;
}


/* dots */
.dots-box {
    position: absolute;
    width: 200px;
    height: 40px;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.dot {
    position: relative;
    background-color: #aaa;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    display: inline-block;
}

.dot.active {
    background-color: #fff;
}