.slide-container {
    width: 1200px;
    height: 480px;
    margin: 200px auto;
}

.slide {
    width: auto;
    height: 480px;
}

.slide img {
    width: 100%;
    height: 100%;
}


/* 네비게이션 화살표 */
.slick-prev:before,
.slick-next:before{
    color: black;
}

@media screen and (max-width: 1000px) {
    .slide-container {
        width: 800px;
    }
    
}

@media screen and (max-width: 600px) {
    .slide-container {
        width: 500px;
    }
    
}

@media screen and (max-width: 400px) {
    .slide-container {
        width: 300px;
    }
    
}