@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*모바일일때 필요함*/

@-ms-viewport{width:device-width;}
@-o-viewport{width:device-width;}
@-moz-viewport{width:device-width;}
@-webkit-viewport{width:device-width;}
@viewport{width:device-width;}


/*reset*/
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	width:1440px;
	margin:0 auto;
	background-color:#fff;
	font-family:'Poppins', sans-serif;
	color:#000;
}
ul, ol, li{
	list-style:none;
	}
a{
	text-decoration:none;
	color:#000;
}
.clear{
	clear:both;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
body{overflow-x:hidden;}

/*main*/
.main_section{
	width:1440px;
	height:44.5px;
	background-color:#fff;
}

.logo{
	width:186px;
	height:40.5px;
	margin-top: 20px;
	margin-left:50px;
}

.logo img{width:172px;
		  height:23px;
}

.nav{
	margin-left:380px;
	margin-top:-30px;
	font-family: 'Poppins';
}
.nav div{
	float:left;
	margin-left:93px;
	font-size: 14px;
	font-weight:400;
}

/* 메뉴 호버시 밑줄 애니메이션 */
.nav > div > a::after {
    display: block;
    content: '';
    border-bottom: 3px solid #3386c8;
    transform: scaleX(0);
    transition: 0.4s;
}

.nav > div > a:hover::after {
    transform: scaleX(1);
}
.main_right{
	float:right;
	margin-right:20px;
	
}
#right_icon{
	width:210px;
	line-height:60px;
	margin-top:-12px;
}

#right_icon li{float:left;}

#right_icon img{
	margin-right:20px;
	width:24px;
	height:24px;
}




/*section01*/
.section01{
	width:1440px;
	height:564px;
	background-color:#000;
	margin-top:20px;
	overflow:hidden;
}
/*.slide > div:nth-child(1){display:none;}*/
.slide > div:nth-child(2){display:none;}
.slide > div:nth-child(3){display:none;}
.slide > div:nth-child(4){display:none;}
.slide > div:nth-child(5){display:none;}

.slide > div > img:nth-child(1){width:100%;}
.slide > div > img:nth-child(2){width:100%;}
.slide > div > img:nth-child(3){width:100%;}
.slide > div > img:nth-child(4){width:100%;}
.slide > div > img:nth-child(5){width:100%;}


.main_text1{
	width:500px;
	height:226px;
	position:absolute;
	top:207px;
	margin-left:50px;
/*	background-color:#000;*/
}

.main_text2{
	width:500px;
	height:226px;
	position:absolute;
	top:207px;
	margin-left:50px;
/*	background-color:darkgoldenrod;*/
}

.main_text3{
	width:500px;
	height:226px;
	position:absolute;
	top:207px;
	margin-left:50px;
/*	background-color:darkgoldenrod;*/
}

.main_text4{
	width:500px;
	height:226px;
	position:absolute;
	top:207px;
	margin-left:50px;
/*	background-color:darkgoldenrod;*/
	color:#fff;
}

.main_text5{
	width:500px;
	height:226px;
	position:absolute;
	top:207px;
	margin-left:50px;
/*	background-color:darkgoldenrod;*/
	color:#fff;
}
.main_text1 h3{
	font-size:48px;
	font-weight:800;
}

.main_text2 h3{
	font-size:43px;
	font-weight:800;
}

.main_text3 h3{
	font-size:48px;
	font-weight:800;
}

.main_text4 h3{
	font-size:44px;
	font-weight:800;
}

.main_text5 h3{
	font-size:48px;
	font-weight:800;
}

.main_text4 span{
	font-size:24px;
	font-weight:600;
	color:#3386c8;
}
.main_text1 p{
	margin-top:52px;
	font-size:16px;
	line-height:24px;
	font-weight:400;
}

.main_text2 p{
	margin-top:52px;
	font-size:16px;
	line-height:24px;
	font-weight:400;
}

.main_text3 p{
	margin-top:52px;
	font-size:16px;
	line-height:24px;
	font-weight:400;
}

.main_text4 p{
	margin-top:32px;
	font-size:16px;
	line-height:24px;
	font-weight:400;
}

.main_text5 p{
	margin-top:52px;
	font-size:16px;
	line-height:24px;
	font-weight:400;
}
.slide button{
	width:120px;
	height:40px;
	background-color:#3386c8;
	color:#fff;
	font-size:16px;
	border-radius:20px;
	border:0px;
	margin-top:28px;
}
.slide button:hover(background-color:#fff;color:#3386c8;)
/*btn*/
#btn{
	width:100%;
	height:300px;
	position:absolute;
	top:590px;
}

#btn ul{
	width:100px;
	height:12px;
	margin:0 auto;
}

#btn li{
	width:12px;
	height:12px;
	border-radius:50%;
	border:1px solid #fff;
	float:left;
	margin: 3px;
	cursor:pointer;
}

.btn1{background-color:#fff;}

/*btn

/*section02*/
#section02{
	width:1440px;
	height:356px;
	background-color:#e1e1e1;
}

.item{
	width:80%;
	height:178px;
	margin:0 auto;
	position:relative;
	top:80px;
	display: block;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #000;
	font-weight:600
}

.item span{
	margin-top:5px;
	color:#000;
}

.list1{
	width:250px;
	float:left;
	margin:10px;
}

.list1 img{
	width:100%;
	height:100%;
}

.list2{
	width:250px;
	float:left;
	margin:10px;
}

.list2 img{
	width:100%;
	height:100%;
}

.list3{
	width:250px;
	float:left;
	margin:10px;
}

.list3 img{
	width:100%;
	height:100%;
}

.list4{
	width:250px;
	float:left;
	margin:10px;
}

.list4 img{
	width:100%;
	height:100%;
}

/*content2*/
#section03{
	width:1440px;
	height:527px;
	background-color:#fff;
	margin-top:152px;
}
.con2_text{
	margin-left:119px;
	position:relative;
	top:118px;
	width:637px;
	height:325px;
	background-color:#fff;
}
.con2_img{
	width:473px;
	height:529px;
	float:right;
	margin-top:-325px;
	margin-right:119px;
}
.con2_text h4{
	font-size:24px;
	font-family:600;
	line-height:36px;
}
.con2_text p{
	font-size:14px;
	line-height:30px;
	font-weight:400;
	position:relative;
	top:30px;
}

.more{
	position:relative;
	top:76px;
	left:600px
}

.more a{
	width:79px;
	height:17px;
	color:#000;
}
.more div{
	height:3px;
	width:91px;
	background-color:#3386c8;
}
/*content3*/
#section04{
	width:1440px;
	height:498px;
	margin-top:152px;
}
.box{
	width:1200px;
	height:498px;
	background-color:darkgoldenrod;
	margin:0 auto;
}

.box_slide1 {
	width:581px;
	height:498px;
	background-color:azure;
}
.box_slide1 img{
	width:100%;
	height:498px;
}

.box_slide2 {
	width:581px;
	height:498px;
	margin-top:-498px;
	display:none;
}

.box_slide2 img{
	width:100%;
	height:498px;
}
.box_right{
	width:619px;
	height:498px;
	background-color:darkblue;
	float:right;
	margin:121px;
	margin-top:-498px;}

.img_top{
	width:410px;
	height:249px;
	background-image:url("../img/con3_2.png");
}
.img_bottom{
	width:415px;
	height:249px;
	background-image:url("../img/con3_3.png");
	margin-left:205px;
	margin-top:-249px;
}
.con3_img1_wrap{
	width:211px;
	height:249px;
	background-color:#000;
	position:relative;
	left:409px;
	top:-249px;
}
.con3_img1_wrap p{
	color:#fff;
	font-size: 24px;
	font-weight:400;
	line-height:30px;
	text-align:center;
}
.con3_img2_wrap{
	width:211px;
	height:249px;
	background-color:#000;
	position:relative;
	top:-249px;
}
.con3_text{
	position:absolute;
	top:38%;
	left:25%;
}
.con3_text p{
	color:#fff;
	font-size: 24px;
	font-weight:400;
	line-height:30px;
	text-align:center;
}

/*section05*/
#section05{
	width:1440px;
	height:484px;
	background-image:url("../img/con4.png");
	margin-top:152px;}
.con4_text{
	width:1440px;
	height:484px;
	color:#fff;
	text-align:center;
	line-height:10px;
	position:relative;
	top:74px;
}

.con4_text span{
	font-size:32.1px;
	font-weight:500;
}

.con4_text h2{
	font-size:48px;
	font-weight:800;
	margin-top:70px;
}
.con4_text p{
	font-size:22.9px;
	font-weight:400;
	margin-top:70px;
	line-height:30px;
}

.email_btn{
	width:1440px;
	height:80px;
	margin-top:-180px;
	margin-left:242px
}

.email{
	width:332px;
	height:50px;
	border:2px solid #908f8f;
	border-radius:10px;
	color:#908f8f;
	font-weight:400;
	font-size:22px;
	margin-top:30px;
	margin-left:250px;
	opacity:0.5;
	
}

.submit{
	width:120px;
	height:45px;
	background-color:#fff;
	color:#000;
	font-family:'Poppins';
	font-weight:400;
	font-size:22px;
	border-radius:10px;
	border:0px;
	margin-left:15px;
	text-align:center;
}

.submit:hover{color:#fff;background-color:#3386c8;}

/*footer*/

.column_block{
	width:1440px;
	height:318px;
	position:absolute;
	top:2720px;
	left:350px;

}
.menu_column1{
	width:230px;
	height:210px;
	float:left;
}
.menu_column1 ul{margin-top:30px;}
.menu_column2 ul{margin-top:30px;}
.menu_column3 p{margin-top:30px;}
.menu_column4 ul{margin-top:30px;}

.menu_column1 li{
	line-height:24px;
	font-size:13px;
}

.menu_column2{
	width:230px;
	height:210px;
	float:left;
	margin-left:54px;
}
.menu_column2 li{
	font-size:13px;
	line-height:24px;}

.menu_column3{
	width:230px;
	height:210px;
	float:left;
	margin-left:54px;
}
.menu_column4{
	width:230px;
	height:210px;
	float:left;
	margin-left:54px;
}
.menu_column1 h3{
	font-size:16px;
	font-weight:600;
}
.menu_column2 h3{
	font-size:16px;
	font-weight:600;
}
.menu_column3 h3{
	font-size:16px;
	font-weight:600;
}
.menu_column4 h3{
	font-size:16px;
	font-weight:600;
}
.menu_column3 p{
	line-height:30px;
	font-size:13px;
}
.menu_column3 button{
	width:138px;
	height:33px;
	border:1px solid #000;
	color:33f3e3e;
	font-size:13px;
	margin-top:30px;
	background-color:#fff;
}
.line1{
	width:80px;
	height:2px;
	background-color:#9d8e8e;
}
.line2{
	width:178px;
	height:2px;
	background-color:#9d8e8e;
}
.line3{
	width:67px;
	height:2px;
	background-color:#9d8e8e;
}
.line4{
	width:49px;
	height:2px;
	background-color:#9d8e8e;
}

.footer_list3 p{
	font-size:13px;
	line-height:30px;
}


.menu_column4 ul {
	width:227px;
	height:43px;
	margin-left:-10px;
}
.menu_column4 li{
	float:left;
	margin-left:10px;
}
/*footer2*/
.f_copy{
	width:1440px;
	height:104px;
	background-color:#000;
	color:#fff;
	position:relative;
	bottom:-626px;
}

.f_text p{
	font-size:15px;
	font-weight:400;
	float:right;
	margin-right:90px;
	margin-top:35px
}
.f_text img{
	width:174px;
	height:100px;
	float:left;
	position:absolute;
	left:50px;
}

/*------------------------*/
/*Business*/

/*
.nav div:nth-child(3){
	font-weight:500;
}
*/
.sub_main{
	width:1440px;
	height:378px;
}
.sub_inside{
	width:1440px;
	height:378px;
}
.sub_inside img{
	width:100%;
}
.main_text{
	width:500px;
	height:128px;
/*	background-color:antiquewhite;*/
	position:absolute;
	top:125px;
	margin-left:50px;
}
.main_text h2{
	font-size:45px;
	font-weight:700;
}
.main_text p{
	font-size:14px;
	font-weight:300;
	margin-top:23px;
}
.con_name{
	width:100%;
	height:95px;
	font-size:11px;
	font-weight:100;
	margin-top:-55px;
	background-color:#000;
	
}
.con_name a{
	margin-left:50px;
	color:#fff;
	position:relative;
	top:48px;
	
}
#business_section01{
	width:100%;
	background-color:#000;
}
.business_section01_inner{
	width:1198px;
	height:731px;
	background-color:black;
	margin:0 auto;
}
.ourvision{
	width:567px;
	height:731px;
/*	background-color:darkkhaki;*/
}
.ourvision_headline{
	width:567px;
	height:95px;
}
.ourvision_headline h3{
	color:#fff;
	font-weight:600;
	font-size:30px;
	position:relative;
	top:25px
}
.ourvision_img{
	width:567px;
	height:429px;
}
.ourvision_img img{
	width:100%;
}
.ourvision_text{
	color:#fff;
	width:567px;
	height:205px;
}
.ourvision_text h4{
	font-size:24px;
	font-weight:500;
	
}
.ourvision_text p{
	font-size:16px;
	font-weight:400;
	line-height:32px;
	margin-top:25px;
}
.ourhistory{
	width:567px;
	height:731px;
/*	background-color:saddlebrown;*/
	position:relative;
	top:-731px;
	left:632px;
}
.history_headline{
	width:567px;
	height:95px;
}
.history_headline h3{
	color:#fff;
	font-weight:600;
	font-size:30px;
	position:relative;
	top:25px
}
.history_img{
	width:567px;
	height:429px;
}
.history_img img{
	width:100%;
}
.history_text{
	color:#fff;
	width:567px;
	height:205px;
}
.history_text h4{
	font-size:24px;
	font-weight:500;
	
}
.history_text p{
	font-size:16px;
	font-weight:400;
	line-height:32px;
	margin-top:25px;
}
#business_section02{
	width:100%;
	background-color:#000;
}
.business_section02_inner{
	position:relative;
	top:189px;
	width:1198px;
	height:764px;
	background-color:#000;
	margin:0 auto;
	color:#fff;
}
.meet_headline{
	width:1198px;
	height:127px;
}
.meet_headline h3{
	color:#fff;
	font-weight:600;
	font-size:30px;
	position:relative;
	top:25px;
	text-align:center;
}
.meet_img{
	width:1198px;
	height:469px;
}
.history_img img{
	width:100%;
}
.meet_text{
	color:#fff;
	width:1198px;
	height:166px;
}
.meet_text h4{
	margin-top:30px;
	font-size:24px;
	font-weight:500;
	
}
.meet_text p{
	font-size:16px;
	font-weight:400;
	line-height:30px;
	margin-top:35px;
}
#business_section03{
	width:100%;
	background-color:#000;
}
.business_section03_inner{
	position:relative;
	top:378px;
	width:1440px;
	height:568px;
	background-color:#000;
	margin:0 auto;
}
.imgbox{
	width:1440px;
	height:762px;
	background-color:#000;
	
}
.imgbox li{
	float:left;
	margin-left:18px
}
.culture{
	width:456px;
	height:568px;
	color:#fff;
}
.culture img{
	width:100%;
}
.culture span{
	font-size:24px;
	font-weight:600;
	margin-left:150px;
	
}
.world{
	width:456px;
	height:568px;
	color:#fff;
}
.world img{
	width:100%;
}
.world span{
	font-size:24px;
	font-weight:600;
	margin-left:90px;
	
}
.about{
	width:456px;
	height:568px;
	color:#fff;
}
.about img{
	width:100%;
}
.about span{
	font-size:24px;
	font-weight:600;
	margin-left:105px;	
}
.column_block{
	margin-top:450px;
}

.bcolumn_block{
	width:1440px;
	height:318px;
	position:absolute;
	top:3219px;
	left:350px;
}
.bf_copy{
	width:1440px;
	height:104px;
	background-color:#000;
	color:#fff;
	margin-top:1098px;
}
.bf_text{
	
}
.bf_text p{
	font-size:15px;
	font-weight:400;
	float:right;
	margin-right:90px;
	margin-top:35px
}
.bf_text img{
	width:174px;
	height:100px;
	float:left;
	position:absolute;
	left:300px;
}

/*Business*/
/*------------------------*/
/*headphones*/

.headphones_section{
	width:1440px;
	height:2244px;
	background-image: url("../img/bg_darker.png");
	
}
.con_name2{
	width:100%;
	height:95px;
	font-size:11px;
	font-weight:100;
	margin-top:-55px;
	
}
.con_name2 a{
	margin-left:50px;
	color:#fff;
	position:relative;
	top:48px;
	
}
.head_sectionbox{
	width:538px;
	height:567px;
	margin-left:150px;
	background-color:#fff;
	background-image:url("../img/bg_darker.png");
	background-blend-mode: difference;
}
.head_sectionbox:nth-child(3){
	margin-left:744px;
	margin-top:-567px;
}
.head_sectionbox:nth-child(4){
	margin-top:54px;
	
}
.head_sectionbox:nth-child(5){
	margin-left:744px;
	margin-top:-567px;
}

.head_sectionbox:nth-child(6){
	margin-top:54px;
}
.head_sectionbox:nth-child(7){
	margin-top:-567px;
	margin-left:744px;
}
.headline_box{
	width:538px;
	height:160px;
/*	background-color:darksalmon;*/
}
.headline_box h3{
	font-size:36px;
	font-weight:600;
	text-align:center;
	padding-top:59px;
}

.head_line{
	width:481px;
	height:2px;
	background-color:#fff;
	margin-left:30px;
}
.head_img{
	width:241px;
	height:291px;
/*	background-color:#000;*/
	margin-top:54px;
	margin-left:271px;
}
.head_img img{
	width:100%;
}
.head_text{
	width:232px;
	height:157px;
/*	background-color:aquamarine;*/
	margin-top: -291px;
	margin-left:30px;
	
}
.head_text p{
	font-size:12px;
	font-weight:400;
	line-height:30px;
}
.head_sectionbox button{
	width:120px;
	height:40px;
	border-radius:20px;
	background-color:#337fba;
	border:0px solid;
	color:#fff;
	font-size:15px;
	font-weight:500;
	margin-left:65px;
	margin-top:76px;
}
.hcolumn_block{
	width:1440px;
	height:318px;
	position:absolute;
	top:2689px;
	left:350px;
}
.hf_copy{
	width:1440px;
	height:104px;
	background-color:#000;
	color:#fff;
	margin-top:478px;
}
.hf_text{
	
}
.hf_text p{
	font-size:15px;
	font-weight:400;
	float:right;
	margin-right:90px;
	margin-top:35px
}
.hf_text img{
	width:174px;
	height:100px;
	float:left;
	position:absolute;
	left:300px;
}

/*headphones*/

/*proaudio*/

.audio_main_text{
	width:581px;
	height:208px;
/*	background-color:antiquewhite;*/
	position:absolute;
	top:125px;
	margin-left:50px;
	color:#fff;
}
.audio_main_text h2{
	font-size:45px;
	font-weight:700;
}
.audio_main_text p{
	font-size:14px;
	font-weight:300;
	margin-top:23px;
}
#proaudio_section01{
	width:100%;
	height:1035px;
	background-color:#000;
}
.proaudio_section01_inner{
	width:1291px;
	height:415px;
/*	background-color: azure;*/
	margin:0 auto;
}
.proaudio_box1{
	width:423px;
	height:415px;
	background-color:#fff;
	float:left
}
.proaudio_box1:nth-child(2){
	margin-left:11px;
}
.proaudio_box1:nth-child(3){
	margin-left:11px;
}
.detail{
	width: 224px;
	height:20px;
	margin-left:28px;
	margin-top:22px;
}
.detail li{
	width:101px;
	height:20px;
	background-color: #317fba;
	color:#fff;
	float:left;
	font-size:10px;
	font-weight:600;
	text-align:center;
	padding-top:2px;
}
.detail li:nth-child(2){
	margin-left:22px;
}
.proaudio_box_headline{
	width:289px;
	height:39px;
	margin-left:28px;
	margin-top:32px;
}
.proaudio_box_headline h3{
	font-weight:600;
	font-size:18px;
}
.proaudio_box1_text{
	width:375px;
	height:19px;
	margin-top:41px;
	margin-left:28px;
	
}
.proaudio_box1_text li{
	float:left;
}
.proaudio_box1_text li:nth-child(2){
	margin-left:156px;
}

.proaudio_section02_inner{
	width: 1291px;
	height:519px;
/*	background-color: beige;*/
	margin:0 auto;
	margin-top:42px;
}
.proaudio_box2{
	width:633px;
	height:519px;
	background-color:#fff;
	float:left;

}
.proaudio_box2:nth-child(2){
	margin-left:25px;
}
.proaudio_box2_img{
	width: 633px;
	height:313px;
}
.detail2{
	width: 224px;
	height:20px;
	margin-left:28px;
	margin-top:22px;
}
.detail2 li{
	width:100px;
	height:20px;
	background-color: #317fba;
	color:#fff;
	float:left;
	font-size:10px;
	font-weight:600;
	text-align:center;
	padding-top:2px
}
.proaudio_box2_headline{
	width:546px;
	height:22px;
	margin-left:28px;
	margin-top:32px;
}
.proaudio_box2_headline h3{
	font-weight:600;
	font-size:24px;
}
.proaudio_box2_text{
	margin-top:63px;
	width:550px;
	height:13px;
	margin-left:28px;
}
.proaudio_box2_text li{
	float:left;
}
.proaudio_box2_text li:nth-child(2){
	margin-left:200px;
}
#proaudio_section03{
	width:100%;
	height:1303px;
	background-color:#000;
}
.proaudio_section03_inner{
	width:1291px;
	height:415px;
	margin:0 auto;
	padding-top:42px;
}
.proaudio_section04_inner{
	width: 1291px;
	height:519px;
	margin:0 auto;
	margin-top:84px;
}
#pro_button{
	width:161px;
	height:54px;
	background-color:#317fba;
	color:#fff;
	font-weight:300;
	font-size:16px;
	border:0px solid;
	margin-top: 113px;
	margin-left:645px;
}
.pcolumn_block{
	width:1440px;
	height:318px;
	position:absolute;
	top:2932px;
	left:350px;
}
.pf_copy{
	width:1440px;
	height:104px;
	background-color:#000;
	color:#fff;
	margin-top:478px;
}

.pf_text p{
	font-size:15px;
	font-weight:400;
	float:right;
	margin-right:90px;
	margin-top:35px
}
.pf_text img{
	width:174px;
	height:100px;
	float:left;
	position:absolute;
	left:300px;
}
/*proaudio*/

/*support*/
.smain_text{
	width: 668px;
	height:193px;
	background-color:#fff;
	position:absolute;
	top:136px;
	left:33%;
}
.sm_headline{
	width: 668px;
	height:60px;
/*	background-color:azure;*/
	margin-top:50px;
}
.sm_headline h2{
	text-align:center;
	font-weight:bold;
	font-size:45px;
}
.smbox{
	width:668px;
	height:84px;
/*	background-color:aqua;*/
}
.smbox li{
	float:left;
}
.boder_box{
	width:514px;
	height:40px;
	border:solid 1px #828282;
	border-radius:5px;
	margin-left:53px;
	margin-top:12px;
}
.search_box{
	width:48px;
	height:48px;
	background-color:#000;
	border-radius:10px;
	margin-left:8px;
	margin-top:10px;
}
.search_box img{
	width:60%;
	margin-top:10px;
	margin-left:10px;
}
.con_name3{
	width:100%;
	height:95px;
	font-size:11px;
	font-weight:100;
	margin-top:-55px;
	background-color:#fff;
/*	background-color: antiquewhite;*/
}
.con_name3 a{
	margin-left:50px;
	color:#000;
	position:relative;
	top:48px;
}
.support_section1{
	width:1440px;
	height:462px;
}
.support_section1_headline{
	width:485px;
	height:118px;
	margin-left:50px;
/*	background-color: beige;*/
}
.support_section1_headline h3{
	font-size:30px;
	font-weight:bold;
	padding-top:58px;
}
.item2{
	width:80%;
	height:178px;
	margin:0 auto;
	display: block;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #000;
	font-weight:600;
/*	background-color:#ddd;*/
}
.item2 span{
	margin-top:5px;
	color:#000;
}
.support_section2{
	width:1440px;
	height:698px;
	background-color: #f1eeee;
}
.support_section2_headline{
	width:246px;
	height:120px;
	margin-left:50px;
}
.support_section2_headline h3{
	font-size:30px;
	font-weight:bold;
	padding-top:58px;
	
}
.topic_box{
	width: 988px;
	height: 457px;
/*	background-color:#ddd;*/
	margin-left:226px;
}
.topic_list{
	width:454px;
	height: 153px;
/*	background-color:#655;*/
}
.topic_img{
	width: 67px;
	height:67px;
	border-radius:50%;
	background-color:#fff;
}
.topic_img img{
	width:70%;
	margin-left:10px;
	margin-top:10px;
}
.topic_text{
	width:365px;
	height:106px;
	margin-left:94px;
	margin-top:-33px;
}
.topic_text h4{
	font-size:23.5px;
	font-weight:600;
	
}
.topic_text p{
	font-size:14px;
	line-height: 22px;
	padding-top: 22px;
	
}
.topic_list:nth-child(2){
	margin-left:532px;
	margin-top:-153px;
}
.topic_list:nth-child(4){
	margin-left:532px;
	margin-top:-153px;
}
.topic_list:nth-child(6){
	margin-left:532px;
	margin-top:-153px;
}
.support_section3{
	width:1440px;
	height:628px;
	background-color:#317fba;
}
.support_section3_text{
	width:1440px;
	height:484px;
	text-align:center;
	line-height:10px;
	position:relative;
	top:118px;
}

.support_section3_text span{
	font-size:32.1px;
	font-weight:500;
}

.support_section3_text h2{
	font-size:48px;
	font-weight:800;
	margin-top:70px;
}
.support_section3_text p{
	font-size:22.9px;
	font-weight:400;
	margin-top:70px;
	line-height:30px;
}

.email_btn2{
	width:1440px;
	height:80px;
	margin-top:-136px;
	margin-left:242px
}

.email2{
	width:332px;
	height:50px;
	background-color:transparent;
	border:2px solid #fff;
	border-radius:10px;
	color:#fff;
	font-weight:400;
	font-size:22px;
	margin-top:30px;
	margin-left:250px;
	
}

.submit2{
	width:120px;
	height:45px;
	background-color:#000;
	color:#fff;
	font-family:'Poppins';
	font-weight:400;
	font-size:22px;
	border-radius:10px;
	border:0px;
	margin-left:15px;
	text-align:center;
}
.support_section4{
	width: 1440px;
	height:126px;
	background-color: #000;
}
.support_section4 h3{
	font-size:30px; 
	color: #fff;
	font-weight:bold;
	text-align:center;
	padding-top:42px;
	
}
.scolumn_block{
	width:1440px;
	height:318px;
	position:absolute;
	top:2489px;
	left:350px;
}
/*support*/